.hidden {
    display: none;
}

.background-image {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}
#clock{
    margin-top: 20%;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}
#greeting,
#quote{
    text-align: center;
    font-size: 35px;
    color: #fff;

}
#weather
{
    text-align: center;
    color: #fff;
}
#login-form,
#todo-form
{
    text-align: center;
}
#todo-form input{
    background-color: transparent;
    border: none;
    width
}
